numpy
pandas
matplotlib
sklearn
pyomo
pylint
jupyter
jupyterlab
ipython
requests
wget
pyarrow
fastparquet
gym
stable_baselines
tensorflow
optuna
ta
statsmodels==0.10.0rc2
empyrical
ccxt
psycopg2
configparser
quantstats
